<!-- Bootstrap core JavaScript-->
<script src="views/admin_portofolio/assets/jquery/jquery.min.js"></script>
<script src="views/admin_portofolio/assets/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="views/admin_portofolio/assets/jquery/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="views/admin_portofolio/assets/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="views/admin_portofolio/assets/js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="views/admin_portofolio/assets/js/demo/chart-area-demo.js"></script>
<script src="views/admin_portofolio/assets/js/demo/chart-pie-demo.js"></script>
